*{
	margin: 0;
	padding: 0;
}

html{
	font-size: 62.5%;
}

body{
	background: #F7F7F7;
	-webkit-tap-highlight-color:rgba(0,0,0,0);
}

ul li{
	list-style: none;
}

img{
	border: none;
	-webkit-transform: scale(1) rotate(0) translate3d(0,0,0);
	transform: scale(1) rotate(0) translate3d(0,0,0);
}

a{
	text-decoration: none;
	-webkit-tap-highlight-color:transparent;
}
.f-fl{
	float: left;
}
.f-fr{
	float: right;
}
.f-cb:after{
	content: '';
	font-size: 0;
	height: 0;
	clear: both;
	display: block;
	visibility: hidden;
}
.chosen-tabs{
	position: relative;
	width: 100%;
	background: rgba(172, 147, 84,0.69);
}
.chosen-tabs a{
	width: 25%;
	display: inline-block;
	height:7rem;
}
.chosen-tabs #calBenefit img{
	width: 20%;
	display: block;
	margin: 1.4rem auto 0 auto;
}
.chosen-tabs #transact img{
	width: 27%;
	display: block;
	margin: 1.6rem auto 0 auto;
}
.chosen-tabs #trycash img{
	width: 35%;
	display: block;
	margin: 2.3rem auto 0 auto;
}
.chosen-tabs #safety img{
	width: 22%;
	display: block;
	margin: 1.6rem auto 0 auto;
}
.chosen-tabs p{
	text-align: center;
	font-size:1.1rem;
	line-height: 1.2rem;
	padding-top: 0.8rem;
	color:#ffffff;
}
.selectTab{
	background:#4a4a4a!important;
}
/** =======================
 * Contenedor Principal
 ===========================*/

 .accordion {
 	width: 100%;
 	background: #FFF;
	 display: none;
 }
.accordion .link {
	cursor: pointer;
	display: block;
	padding: 1.3rem 1.6rem;
	color:#4a4a4a;
	font-size: 1.5rem;
	/*font-weight:600;*/
	border-bottom: 1px solid #F7F7F7;
	position: relative;
	-webkit-transition: all 0.4s ease;
	-o-transition: all 0.4s ease;
	transition: all 0.4s ease;
}

.accordion li i {
	position: absolute;
	font-size: 15px;
	color: #4A4A4A;
	-webkit-transition: all 0.4s ease;
	-o-transition: all 0.4s ease;
	transition: all 0.4s ease;
}

.accordion li i.fa-chevron-down {
	right: 15px;
	left: auto;
	font-size: 15px;
}
.accordion li i.fa-angle-down {
	right: 15px;
	left: auto;
	color:#666666;
	font-size: 20px;
}
.accordion li.open i.fa-chevron-down {
	-webkit-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	transform: rotate(180deg);
}
.accordion li.open i.fa-angle-down {
	-webkit-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	transform: rotate(180deg);
}
/**
 * Submenu
 -----------------------------*/
 .submenu {
 	display: none;
 	background: #F7F7F7;
 	font-size: 1.3rem;
	 line-height: 2rem;
	 color:#717071;
	padding: 1.9rem 1.6rem;
 }




