*{
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.5%;
}

body{
    background: #f0eff5;
}

ul li{
    list-style: none;
}

img{
    border: none;
    -webkit-transform: scale(1) rotate(0) translate3d(0,0,0);
    transform: scale(1) rotate(0) translate3d(0,0,0);
}

a{
    text-decoration: none;
    -webkit-tap-highlight-color:transparent;
}

input{
    border: none;
}
